
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
    p{
        font-size: 1rem;
    }
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            font-weight: 600;
            padding-right: 5px;
        }
        a{
            font-size: 1rem;
            padding-right: 7px;
            color: #d86778;
        }
        a:hover{
            color: #e60023;
        }
    }
}
